  body {
      background-color: #212121;
      /* color: whitesmoke; */
      font-family:
          ui-sans-serif,
          -apple-system,
          system-ui,
          Segoe UI,
          Helvetica,
          Apple Color Emoji,
          Arial,
          sans-serif,
          Segoe UI Emoji,
          Segoe UI Symbol;

      tab-size: 4;
      font-size: 1rem;
  }